<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav >
   <mat-nav-list>
      <a mat-list-item routLink="/">
          <mat-icon>
              library_books
          </mat-icon>
          <span>Courses</span>
      </a>
      <a mat-list-item routLink="about">
          <mat-icon>
              library_books
          </mat-icon>
          <span>About</span>
      </a>
   </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="spinner" *ngIf="isloading">
<mat-spinner></mat-spinner></div>
  </mat-sidenav-container>